body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background: #e6f7ff; /* Azul muy claro, fresco */
}

/* CONTENEDOR */
.container {
  max-width: 480px;
  margin: 2rem auto;
  background: #ffffff;
  padding: 1.5rem;
  padding-right: 3rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* TÍTULOS */
h1 {
  color: #1ab1a4; 
  text-align: center;
}

h2 {
  color: #5dd9c1; 
  text-align: center;
}

h2::after {
  content: "🧶";
}

h4 {
  color: #2cbfab; 
  margin-top: 1.5rem;
}

/* INPUTS Y SELECT */
label {
display: block;
margin-bottom: 0.4rem;
color: #2cbfab;
font-weight: 700;
font-size: 0.95rem;
}
select {
background-position: right 0.7rem center;
background-size: 12px;
padding-right: 2rem;
}

input,
select {
box-sizing: border-box; 
width: 100%;
height: 42px; 
padding: 0 0.75rem;
margin-bottom: 0.7rem; 
border-radius: 8px;
font-size: 0.95rem;
line-height: 1;
border: 1px solid #d0e6f7;
background: #ffffff;
}

input:focus,
select:focus {
  outline: none;
  border-color: #3affd4;
  box-shadow: 0 0 0 2px rgba(58, 255, 239, 0.25);
}

/* SEPARADORES */
hr {
  border: none;
  border-top: 1px solid #eeeeee;
  margin: 1.2rem 0;
}
button{
  color: rgb(100, 106, 112);
  background: #2ad8c969; 
  border-radius: 8px;
  border: solid rgba(5, 226, 196, 0.719) 1px;
  padding: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* RESULTADOS */
.containResult {
  background: #c1f0f6; 
  padding: 1rem;
  border-radius: 10px;
  margin-left: 15px; 
}

.containResult p {
  margin: 0.4rem 0;
  font-size: 0.95rem;
  color: dimgray;
}

.containResult strong {
  font-size: 1.05rem;
  color: #1ab1a4;
}

.result {
  background: #ffffff;
  padding: 0.5rem;
  border-radius: 10px;
  color:  #1ab1a4;
}