body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background: #71b43b;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


/* TÍTULOS */
h1 {
  color: #b1701a; 
  text-align: center;
}

h2 {
  color: #d9ae5d; 
  text-align: center;
}

h2::after {
  content: "🧶";
}

h4 {
  color: #b17c1a; 
  margin-top: 1.5rem;
}

/* INPUTS Y SELECT */
label {
display: block;
margin-bottom: 0.4rem;
color: #b17c1a;
font-weight: 700;
font-size: 0.95rem;
}
select {
background-position: right 0.7rem center;
background-size: 12px;
padding-right: 2rem;
}

input,
select {
box-sizing: border-box; 
width: 100%;
height: 42px; 
padding: 0 0.75rem;
margin-bottom: 0.7rem; 
border-radius: 8px;
font-size: 0.95rem;
line-height: 1;
border: 1px solid #e0f7d0;
background: #ffffff;
}

input:focus,
select:focus {
  outline: none;
  border-color: #ffca3a;
  box-shadow: 0 0 0 2px rgba(255, 193, 58, 0.25);
}

/* SEPARADORES */
hr {
  border: none;
  border-top: 1px solid #eeeeee;
  margin: 1.2rem 0;
}
button{
  color: rgb(99, 96, 89);
  background: #7ed82a48; 
  border-radius: 8px;
  border: solid rgba(130, 255, 58, 0.25)1px;
  padding: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* CONTENEDOR */
.container {
  max-width: 480px;
  margin: 2rem auto;
  background: #ffffff;
  padding: 1.5rem;
  padding-right: 3rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* RESULTADOS */
.containResult {
  background: #87d82a48; 
  color:#6ab23a;
  padding: 1rem;
  border-radius: 10px;
  margin-left: 15px; 
}

.result {
  background: #ffffff;
  padding: 0.5rem;
  border-radius: 10px;
  color:  #b17c1a;
}
.container-row{
  max-width: 480px;
  margin: .5rem auto ;
  background: #ffffff;
  padding: 1rem;
  border-radius: 12px;
  border: solid rgba(255, 193, 58, 0.25) 1px;

}
.result-row {
  margin: 0.4rem 0;
  font-size: 0.95rem;
  color: rgb(99, 96, 89);
  display: grid;
  grid-template-columns: 140px auto; 
  align-items: center;
  margin: 0.4rem 0;
  
}

.result-row strong {
  text-align: left;
  font-size: 1.05rem;
  color: #b17c1ac5;
}
.result-row.highlight strong {
font-size: 1.1rem;
color: #946e27;
}

@media (max-width: 768px) {
body {
background: #ffffff;
}

.container {
width: 100%;
max-width: 100%;
margin: 0;
padding: 1rem;
border-radius: 0;
box-shadow: none;
}


h1 {
font-size: 1.8rem;
}


h2 {
font-size: 1.25rem;
}


.containResult {
margin-left: 0;
}

}